<!DOCTYPE html>
<html  lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial.scale=1.0">
        <title>About | Emilia Cole</title>
        <script src="https://kit.fontawesome.com/9c2b55d7c6.js" crossorigin="anonymous"></script>
    </head>
    <body background="/img/emilia-about.jpg">
        <header>
            <nav>
                <a href="/">HOME</a> | <a href="/about">ABOUT</a> | <a href="/music">MUSIC</a> | <a href="/contact">CONTACT</a>
            </nav>
            <nav>   
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-spotify"></i></a>
                <a href=""><i class="fa-brands fa-apple"></i></a>
                <a href=""><i class="fa-brands fa-amazon"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            </nav>
        </header>
        <main>
            <h1>
            about <br> Emilia //
            </h1>
            <section>
                <h3>"Seattle-based pop star makes her<br>indie debut with a hauntingly beautiful album"</h3>
                <p>- John Tirckle, Music Today Post</p>
                <h3>"Emilia Cole is one of the scene's breakout stars"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </section>
        </main>
    </body>
</html>