<!DOCTYPE html>
<html  lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial.scale=1.0">
        <title>HOME | Emilia Cole</title>
        <script src="https://kit.fontawesome.com/9c2b55d7c6.js" crossorigin="anonymous"></script>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body class="home">
        <header>
            <nav>
                <ul>
                    <li> <a href="/">HOME</a></li>
                    <li> <a href="/about">ABOUT</a></li>
                    <li> <a href="/music">MUSIC</a></li>
                    <li> <a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
            <nav>   
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-spotify"></i></a>
                <a href=""><i class="fa-brands fa-apple"></i></a>
                <a href=""><i class="fa-brands fa-amazon"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            </nav>
        </header>
        <main class="home__main">
            <h2>emilia<br> COLE //</h2>
            <h1>TWIST IN MY REALITY</h1>
        </main>
        <footer>
            
        </footer>
    </body>
</html>